.button {
  font-size: 1em;
  min-width: 3em;
  border: none;
  border-radius: 0.75em;
  padding: 0.5em;
  text-transform: uppercase;
  background-color: #00b233;
  color: white;
  box-shadow: 0 4px 0 #007f25;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.button:active {
  box-shadow: 0 1px 0 #007f25;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.push-button-left {
  font-size: 1em;
  min-width: 3em;
  border: none;
  border-radius: 1em 0 0 1em;
  padding: 0.5em;
  text-transform: uppercase;
  background-color: #00b233;
  color: white;
  box-shadow: 0 4px 0 #007f25;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border-right: 1px solid #007f25;
}
.push-button-left:active {
  box-shadow: 0 1px 0 #007f25;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.push-button-right {
  font-size: 1em;
  min-width: 3em;
  border: none;
  border-radius: 0 1em 1em 0;
  padding: 0.5em;
  text-transform: uppercase;
  background-color: #00b233;
  color: white;
  box-shadow: 0 4px 0 #007f25;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border-left: 1px solid #007f25;
}
.push-button-right:active {
  box-shadow: 0 1px 0 #007f25;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.push-button-center {
  font-size: 1em;
  min-width: 3em;
  border: none;
  border-radius: 0;
  padding: 0.5em;
  text-transform: uppercase;
  background-color: #00b233;
  color: white;
  box-shadow: 0 4px 0 #007f25;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  margin: 0 -0.25em;
}
.push-button-center:active {
  box-shadow: 0 1px 0 #007f25;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.six-pack-buttons button {
  width: 7em;
}

.top-row:active {
  overflow: hidden;
}

.bottom-row button {
  border-top: 1px solid #007f25;
}

.push-button-top-left {
  font-size: 1em;
  min-width: 3em;
  border: none;
  border-radius: 2em 0 0 0;
  padding: 0.5em;
  text-transform: uppercase;
  background-color: #00b233;
  color: white;
  box-shadow: 0 4px 0 #007f25;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border-right: 1px solid #007f25;
}
.push-button-top-left:active {
  box-shadow: 0 1px 0 #007f25;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.push-button-top-right {
  font-size: 1em;
  min-width: 3em;
  border: none;
  border-radius: 0 2em 0 0;
  padding: 0.5em;
  text-transform: uppercase;
  background-color: #00b233;
  color: white;
  box-shadow: 0 4px 0 #007f25;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border-left: 1px solid #007f25;
}
.push-button-top-right:active {
  box-shadow: 0 1px 0 #007f25;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.push-button-bottom-right {
  font-size: 1em;
  min-width: 3em;
  border: none;
  border-radius: 0 0 2em 0;
  padding: 0.5em;
  text-transform: uppercase;
  background-color: #00b233;
  color: white;
  box-shadow: 0 4px 0 #007f25;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border-left: 1px solid #007f25;
}
.push-button-bottom-right:active {
  box-shadow: 0 1px 0 #007f25;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.push-button-bottom-left {
  font-size: 1em;
  min-width: 3em;
  border: none;
  border-radius: 0 0 0 2em;
  padding: 0.5em;
  text-transform: uppercase;
  background-color: #00b233;
  color: white;
  box-shadow: 0 4px 0 #007f25;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border-right: 1px solid #007f25;
}
.push-button-bottom-left:active {
  box-shadow: 0 1px 0 #007f25;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}
